<div class= "flex">
  <h2><%= @task.title %></h2>

</div>
<p><%= @task.details %></p>
<p><%= check_box_tag "task_#{@task.id}", @task.id, @task.completed %></p>

<button><%= link_to "Edit this task", edit_task_path(@task.id)%></button>
<button><%= link_to "Back to tasks", tasks_path%></button>
